@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
}

.heading_container h2 span {
  color: #00bbf0;
}

.heading_container p {
  margin-top: 10px;
  margin-bottom: 0;
}

.heading_container.heading_center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero_area .hero_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
  z-index: -1;
}

.hero_area .hero_bg_box .bg_img_box {
  min-width: 100%;
  min-height: 100%;
}

.hero_area .hero_bg_box img {
  min-width: 100%;
  min-height: 100%;
}

.sub_page .hero_area {
  min-height: auto;
  background: linear-gradient(130deg, #231a6f, #0f054c);
}

.sub_page .hero_area .hero_bg_box {
  display: none;
}

.header_section {
  padding: 15px 0;
  background-color: #050144 ;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}

.custom_nav-container {
  padding: 0;
}

.custom_nav-container .navbar-nav {
  margin-left: auto;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
  padding: 5px 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #00bbf0;
}

.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  font-weight: 600;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: #ffffff;
}

.custom_nav-container .nav_search-btn:hover {
  color: #00bbf0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 45px 0 145px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #00204a;
}

.slider_section .detail-box h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #ffffff;
}

.slider_section .detail-box p {
  color: #fefefe;
  font-size: 14px;
}

.slider_section .detail-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -5px;
  margin-top: 25px;
}

.slider_section .detail-box .btn-box a {
  margin: 5px;
  text-align: center;
  width: 165px;
}

.slider_section .detail-box .btn-box .btn1 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn1:hover {
  background-color: #007fa4;
}

.slider_section .detail-box .btn-box .btn2 {
  display: inline-block;
  padding: 10px 15px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.slider_section .detail-box .btn-box .btn2:hover {
  background-color: black;
}

.slider_section .img-box {
  margin: 45px 0;
}

.slider_section .img-box img {
  width: 100%;
  -webkit-animation: upDown 5s infinite;
          animation: upDown 5s infinite;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

.slider_section .carousel-indicators {
  position: unset;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  width: 20px;
  height: 20px;
  background-color: #00bbf0;
}

.service_section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 24px;
}

.service_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 45px;
  background-color: #f8f8f9;
  padding: 20px;
  border-radius: 5px;
}

.service_section .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 125px;
  min-width: 75px;
  height: 75px;
  margin-bottom: 15px;
}

.service_section .box .img-box img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.service_section .box .detail-box h5 {
  font-weight: bold;
  text-transform: uppercase;
}

.service_section .box .detail-box a {
  color: #00204a;
  font-weight: 600;
}

.service_section .box .detail-box a:hover {
  color: #00bbf0;
}

.service_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.service_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.service_section .btn-box a:hover {
  background-color: #007fa4;
}

.about_section {
  background-color: #00204a;
  color: #ffffff;
}

.about_section .heading_container {
  margin-bottom: 45px;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_section .img-box img {
  max-width: 100%;
}

.about_section .detail-box h3 {
  font-weight: bold;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 15px;
}

.about_section .detail-box a:hover {
  background-color: #007fa4;
}

.experiences .detail-box {
  background-color: #f8f8f9;
  padding: 5%;
}

.experiences strong {
  Color: black;
}

.why_section .box {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.why_section .box .img-box {
  margin-bottom: 20px;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  border-radius: 100%;
  border: 5px solid #00204a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why_section .box .img-box img {
  width: 55px;
  height: auto;
  fill: #00204a;
}

.why_section .box h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.why_section .box p {
  margin-bottom: 0;
}

.why_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.why_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #00bbf0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.why_section .btn-box a:hover {
  background-color: #007fa4;
}

/*team section */
.team_section {
  text-align: center;
  background-color: #00204a;
  color: #ffffff;
}

.team_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team_section .team_container {
  padding: 0 15px;
}

.team_section .team_container .box {
  padding: 35px 0 0 0;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all .1s;
  transition: all .1s;
  margin-top: 45px;
  background: -webkit-gradient(linear, left top, left bottom, from(#002759), to(#002b64));
  background: linear-gradient(to bottom, #002759, #002b64);
}

.team_section .team_container .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team_section .team_container .box .img-box img {
  width: 120px;
  border-radius: 100%;
  border: 5px solid #ffffff;
}

.team_section .team_container .box .detail-box {
  margin: 25px 0;
}

.team_section .team_container .box .detail-box h5 {
  color: #00bbf0;
  font-weight: 600;
  position: relative;
}

.team_section .team_container .box .social_box {
  padding: 10px 45px 20px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team_section .team_container .box .social_box a {
  color: #ffffff;
  font-size: 22px;
}

.team_section .team_container .box .social_box a:hover {
  color: #00bbf0;
}

/*team section end*/
/* client section start */
.client_section .heading_container {
  margin-bottom: 30px;
}

.client_section .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
}

.client_section .box .img-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  margin-bottom: -50px;
  margin-left: 25px;
  position: relative;
}

.client_section .box .img-box img {
  border-radius: 100%;
}

.client_section .box .client_id {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client_section .box .client_id .client_info h6 {
  font-weight: 600;
  margin-bottom: 5px;
}

.client_section .box .client_id .client_info p {
  margin-bottom: 0;
  font-size: 15px;
  font-size: 14px;
  margin-bottom: 10px;
}

.client_section .box .detail-box {
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  padding: 75px 25px 25px 25px;
}

.client_section .box .detail-box i {
  color: #00204a;
  margin-bottom: 10px;
}

.client_section .owl-carousel .owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}

.client_section .owl-carousel .owl-nav .owl-prev,
.client_section .owl-carousel .owl-nav .owl-next {
  width: 55px;
  height: 55px;
  background-color: #ffffff;
  color: #000000;
  outline: none;
  bottom: 0px;
  font-size: 24px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.client_section .owl-carousel .owl-nav .owl-prev:hover,
.client_section .owl-carousel .owl-nav .owl-next:hover {
  color: #00204a;
}

/* client section end */
.info_section {
  background-color: #00204a;
  color: #ffffff;
  padding: 45px 0 15px 0;
}

.info_section h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.info_section .info_col {
  margin-bottom: 30px;
}

.info_section .info_contact .contact_link_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_section .info_contact .contact_link_box a {
  margin: 5px 0;
  color: #ffffff;
}

.info_section .info_contact .contact_link_box a i {
  margin-right: 5px;
}

.info_section .info_contact .contact_link_box a:hover {
  color: #00bbf0;
}

.info_section .info_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.info_section .info_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  border-radius: 100%;
  margin-right: 10px;
  font-size: 24px;
}

.info_section .info_social a:hover {
  color: #00bbf0;
}

.info_section .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info_section .info_links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  color: #ffffff;
}

.info_section .info_links a:hover {
  color: #00bbf0;
}

.info_section form input {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  width: 100%;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.info_section form input::-webkit-input-placeholder {
  color: #ffffff;
}

.info_section form input:-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::-ms-input-placeholder {
  color: #ffffff;
}

.info_section form input::placeholder {
  color: #ffffff;
}


/* BOUTOOOOOOOOOOOOOOOOOONNNN */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");


.btn {
  font-size:16px;
  font-weight: 600;
  background-color:#637bef;
  padding:24px 24px 24px 32px;
  align-items:center;
  border-radius:99px;
  position:relative;
  transition: all .5s cubic-bezier(.77,0,.175,1);
  
  .text{
    color:#fff;
    line-height:1;
    position:relative;
    z-index:5;
    margin-right:32px;
  }
  
  svg{
    display:inline-block;
    position:relative;
    z-index:5;
    transform: rotate(0deg) translateX(0);
    transform-origin: left;
    transition: all .5s cubic-bezier(.77,0,.175,1);
  }
  
  &::before{
    content:'';
    background-color:#7fc0ca;
    width:32px;
    height:32px;
    display:block;
    position:absolute;
    z-index:1;
    border-radius:99px;
    top:50%;
    right:16px;
    transform:translateY(-50%);
    transition: all .5s cubic-bezier(.77,0,.175,1);
  }
  
  &.light{
    background-color: #7fc0ca;
    
    &::before{
      background-color: #637bef;
    }
    
  }
}

.btn:hover{
  
  svg{
    transform: rotate(45deg) translateX(-8px);
  }
  
  &::before{
    content:'';
    width:100%;
    height:100%;
    right:0;
  }
}

/* footer section*/
.footer_section {
  position: relative;
  background-color: #ffffff;
  text-align: center;
}

.footer_section p {
  color: #00204a;
  padding: 25px 0;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}
/*# sourceMappingURL=style.css.map */

.images {
  position: relative;
  padding-left: 15%;
  transition: transform .4s;

}

.images:hover {
  transform: scale(1.1);
}

.sport {
  position: absolute;
  left: 5%;
  transition: transform .4s;
}

.jeu {
  position: absolute;
  left: 20%;
  transition: transform .4s;
}

.dessin {
  position: absolute;
  left: 12%;
  top: 200px;
  transition: transform .4s;
}

.about_section {
  position: relative;
}

.img-box2 {
  position: absolute;
  left: 50px; /* Distance du bord gauche */
  bottom: 240px; /* Ajustement vertical */
}

.positioned-img {
  border-radius: 10px;
  position: absolute;
}

.img1 {
  top: 0;
  left: 0;
  transition: transform .4s;
}

.img1:hover {
  transform: scale(1.3);
}

.img2 {
  top: 100px;
  left: 180px;
  transition: transform .4s;

}

.img2:hover {
  transform: scale(1.3);
}

.img3 {
  top: 220px;
  left: 0px;
  transition: transform .4s;

}

.img3:hover {
  transform: scale(1.3);
}

.img4{
  left: 150px;
}

.img5{
  left: 80px;
}
strong {
  color: #87CEEB;
}

.gras strong {
  color: #000000;
}




@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Oswald:400,300,700);
.content body {
  background: #252827;
  font-size: 16px;
}
.content strong {
  font-weight: 600;
}
.content h1 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.5px;
  color: white;
  font-weight: 100;
  font-size: 2.4em;
}
#content {
  margin-top: 50px;
  text-align: center;
}
.timeline {
  border-left: 4px solid #4298C3;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255,255,255,0.03);
  color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 60%;
}
.timeline h1,
.timeline h2,
.timeline h3 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}
.timeline .event {
  border-bottom: 1px dashed rgba(255,255,255,0.1);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: rgb(255, 255, 255);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #4298c3;
  left: -57.85px;
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

:root {
	--background: #005;
	--primary: #88D5BF;
	--secondary: #5D6BF8;
	--third: #e27fcb;
}

* {
  box-sizing: border-box;
}

.container2 {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-top: -50px; /* Décale vers le haut */
}

.shape {
 	background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 400px;
  transition: all 1s ease-in-out;
  width: 400px;
  z-index: 5;
}

@keyframes morph {
  0% {
			border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
			background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	} 
	
	50% {
			border-radius:  30% 60% 70% 40% / 50% 60% 30% 60%;
			background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
	}
  
	100% {
		border-radius:  60% 40% 30% 70% / 60% 30% 70% 40%;
		background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
	} 
}

.avatar {  
  --border-color: #4255d4;
  --background-color: #212752;
  --avatar-size: 200px;
  height: var(--avatar-size);
  width: var(--avatar-size);
  border: 4px solid var(--border-color);
  padding: 6px;
  border-radius: 50%;
  top: 30%;
  left: 32%;
  position: absolute;
}
.avatar img {
  max-width: 100%;
  object-fit: cover;
  border-radius: inherit;
}

/********************************/
.pens_link {
  position: fixed;
  bottom: 56px;
  right: 56px;
  margin: auto;
  display: inline-flex;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 500px;
  background-color: #87CEEB;
  height: 56px;
  width: 56px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: animate 1500ms ease infinite;
  transition: all 0.3s ease-in-out;
}
.pens_link img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg); /* Rotation de l'image de 90 degrés à gauche */
  width: 30px;  /* Ajuste la taille de l'image si nécessaire */
  height: auto;
}

.pens_link:hover {
  background-color: #3147b5;
  transform: scale(1.1);
}

@keyframes animate {
  0%, 100% {
    transform: translatey(-10%);
  }
  50% {
    transform: translatey(10%);
  }
}
/*******************************/


/** Expérience prof **/

.experience_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.experience_box {
  width: 300px;
  height: 200px;
  background-color: #f8f8f9;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
.left {
  align-self: flex-start;
}
.right {
  align-self: flex-end;
}

/************************/

/*******PROJETS**********/


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
* {
  box-sizing: border-box;
}

.projet {
  padding: 8%;
}
.thumbnail {
  position: relative;
  max-width: 100%;
  width: 400px;
  height: 250px;
  border-radius: 6%;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.35s ease;
}
.thumbnail:before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
  /* Hover transition */
}
.thumbnail:hover {
  box-shadow: 0 20px 15px -8px rgba(0, 0, 0, 0.8);
}
.thumbnail__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.thumbnail__img {
  flex: 4 0 auto;
  background-position: center;
  background-size: cover;
  transform: scale(1.2);
  transition: transform 0.35s ease;
  /* Hover transition */
}
.thumbnail:hover .thumbnail__img {
  transform: scale(1);
}
.thumbnail__img:before, .thumbnail__img:after {
  position: absolute;
}
.thumbnail__img:before {
  top: 50%;
  left: 50%;
  z-index: 10;
  color: #F8F8F8;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: 2;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #F8F8F8 0%, #F8F8F8 100%);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 45% 3%;
  transform: translate(-50%, -50%);
  transition: opacity 0.35s linear, transform 0.35s ease;
  /* Hover transition */
}

.projet1:before {
  content: 'Arduino';
}
.projet2:before {
  content: 'Scénario d\'attaque';
}
.projet3:before {
  content: '3CX';
}


.thumbnail:hover .thumbnail__img:before {
  opacity: 0;
  transform: translate(-50%, -500%) scale(0.5);
}
.thumbnail__img:after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  transition: opacity 0.35s linear;
  /* Hover transition */
}
.thumbnail:hover .thumbnail__img:after {
  opacity: 0;
}
.thumbnail__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 0;
  background-color: #00204a;
  overflow: hidden;
  transition: flex-grow 0.35s ease;
  /* Hover transition */
}
.thumbnail:hover .thumbnail__content {
  flex-grow: 1;
}
.thumbnail__caption {
  font-weight: bold;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.5) translateY(100%);
  transition: opacity 0.35s linear, transform 0.35s ease;
  /* Hover transition */
}
.thumbnail:hover .thumbnail__caption {
  transform: scale(1);
  opacity: 1;
}

/************************/

/*********POUR MOBILE**********/
@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 10px;
  }

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Empêche le débordement horizontal */
  }

  .layout_padding, .layout_padding2, .layout_padding2-top, .layout_padding2-bottom, 
  .layout_padding-top, .layout_padding-bottom {
    padding: 30px 0;
  }

  .heading_container {
    align-items: center;
    text-align: center;
  }

  .slider_section .detail-box h1 {
    font-size: 2rem;
  }

  .slider_section .detail-box p {
    font-size: 12px;
  }

  .service_section {
    height: auto;
    padding: 20px;
  }

  .service_section .box {
    margin-top: 20px;
    padding: 15px;
  }

  .team_section .team_container {
    padding: 0;
  }

  .team_section .team_container .box {
    padding: 20px 0;
    margin-top: 20px;
  }

  .custom_nav-container .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .custom_nav-container .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .img-box2 {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .img1, .img2, .img3 {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    margin: 10px auto;
  }

  .experience_wrapper {
    flex-direction: column;
    align-items: center;
  }

  .experience_box {
    width: 100%;
    margin: 10px 0;
  }
}


@media (max-width: 768px) {
  .expe {
    padding-left: 23%;
  }

  .timeline {
    max-width: 100%;
    padding: 20px;
    font-size: 14px;
  }

  .timeline .event {
    padding-bottom: 15px;
    margin-bottom: 30px;
  }

  .timeline .event:before {
    left: -170px;
    font-size: 10px;
  }

  .timeline .event:after {
    left: -30px;
  }

  .timeline h3 {
    font-size: 1.2em;
  }

  .timeline p {
    font-size: 0.9em;
  }
  
}

@media (max-width: 768px) {
  .experiences .row {
    flex-direction: column; /* Passe en colonne sur mobile */
    text-align: center; /* Centre le texte */
  }

  .experiences .detail-box {
    width: 100%; /* Utilise toute la largeur */
    padding: 15px; /* Ajoute de l'espace autour du texte */
  }

  .experiences .img-box2 {
    width: 100%; /* Réduit la taille de l'image */
    max-width: 100%;
    height: auto;
    display: block;
    
  }
  

  .positioned-img {
    width: 100%; /* Adapte la taille de l'image */
    max-width: 250px;
    height: auto;
  }
  .img-box2 {
    width: 100%; /* Utilise toute la largeur disponible */
    display: flex;
    justify-content: center; /* Centre l’image */

  }

  .img-box2 img {
    max-width: 35%; /* Réduit la taille de l’image */
    height: auto; /* Garde les proportions */
  }
  .img4 {
    position: relative;
    display: flex; /* Utilise flexbox pour centrer l'image */
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center;
    margin-top: 20px;
    top : 30px;
    }
  .img5 {
    position: relative;
    display: flex; /* Utilise flexbox pour centrer l'image */
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center;
    margin-bottom: 20px;
    bottom: 30px;

  }



  .img-box2 .img5 {
    padding-top: 0px;
  }

  .col-md-4 {
    padding: 5%;
  }

  .experiences .col-md-6 {
    padding: 0%;
  }

  .form{
    padding-right: 25%;
  }

}

@media (max-width: 768px) {
  .projet {
    padding-left: 3%;
    padding-right: 3%;
  }

  .projet h2{
    padding-bottom: 5%;
  }
  
}

/************************/